{%- unless heading == blank and subheading == blank and text == blank and section.blocks.size == 0 and is_faq_template == false -%}
	<div class="faq-section">
		{%- unless heading == blank and subheading == blank and text == blank -%}
			<div class="page-title">
				<div class="container">
					<div class="row">
						{%- if heading != blank -%}
							<h2 class="page-title__heading">{{ heading }}</h2>
						{%- endif -%}

						{%- if subheading != blank -%}
							<p class="page-title__subheading subheading-text">{{ subheading }}</p>
						{%- endif -%}
					</div>

					{%- if text != blank -%}
						<div class="row row-sm text-content">
							<div class="rte">
								{{- text -}}
							</div>
						</div>
						{%- endif -%}
				</div>
			</div>
		{%- endunless -%}

		{%- if section.blocks.size > 0 -%}
			<div class="faq-content">
				<div class="container">
					<ul class="faq-list">
						{%- for block in section.blocks -%}
							{%- assign question = block.settings.title -%}
							{%- assign answer = block.settings.answer -%}

							{%- unless question == blank -%}
								<li class="faq-list__item" {{ block.shopify_attributes }}>
									<a href="#" class="faq-list__item-question">
										{{- question -}}
										{%- include 'icon-plus' -%}
										{%- include 'icon-minus' -%}
									</a>

									{%- unless answer == blank -%}
										<div class="faq-list__item-answer">{{ answer }}</div>
									{%- endunless -%}
								</li>
							{%- endunless -%}
						{%- endfor -%}
					</ul>
				</div>
			</div>
		{%- elsif is_faq_template -%}
			<div class="faq-content">
				<div class="container">
					<ul class="faq-list">
						{%- for i in (1..3) -%}
						<li class="faq-list__item" {{ block.shopify_attributes }}>
							<a href="#" class="faq-list__item-question">
								{{- 'onboarding.faq_question' | t -}}
								{%- include 'icon-plus' -%}
								{%- include 'icon-minus' -%}
							</a>
							<div class="faq-list__item-answer"><p>{{ 'onboarding.faq_answer' | t }}</p></div>
						</li>
						{%- endfor -%}
					</ul>
				</div>
			</div>
		{%- endif -%}
	</div>
{%- endunless -%}