{% include 'breadcrumbs' %}
{% section 'video-gleam' %}
{% comment %}
{% section 'carpet-image-text' %}
{% endcomment %}
{% comment %}
{% section 'carpet-testimonial' %}
{% endcomment %}

{% section 'static-product' %}
{% comment %}
{% section 'carpet-html' %}
{% endcomment %}
{% section 'carpet-richtext' %}
{% comment %}
{% section 'video-carpet-2' %}
{% endcomment %}
{% section 'static-product-recommendations' %}
{% section 'dynamic-highlights-banners' %}

{% section 'dynamic-image-with-text-2' %}
{% section 'static-product-promo-grid' %}

{% section 'static-product-reviews' %}
{% section 'static-recently-viewed' %}


<div class="
    product--container">
	{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

{% if product.metafields.file.ingredients != blank %}
<div class="product--container">

  <p><a href="{{ product.metafields.file.ingredients}}">Product Ingredient List</a> - <a href="{{ product.metafields.file.sds }}">Product SDS</a>
  </p>

</div>
{% endif %}